*{
    margin: 0;
    padding: 0;
}

#actividadUno{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    gap: 10px;
    border-top: 4px solid black;
    border-bottom: 4px solid green;
}
#actividadDos{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(53, 21, 0);
    gap: 10px;
    border-bottom: 4px solid brown;
}
#actividadTres{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    gap: 10px;
    border-bottom: 4px solid blue;
}
#actividadCuatro{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    gap: 10px;
    border-bottom: 4px solid purple;
}
#actividadCinco{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    gap: 10px;
    border-bottom: 4px solid orange;
}
p{
    text-align: center;
}
::placeholder{
    text-align: center;
    height: 3vh;
}
#numero,#nota1,#nota2,#nota3,#hermano1,#hermano2,#base,#altura,#nombre,#peso,#alto{
    /* border: none; */
    border-radius: 10px;
    text-align: center;
    height: 3vh;
}
button#ejer1{
    background-color: rgba(0, 0, 0, 0);
    color: black;
    font-size: 1.5vh;
    border: 2px solid black;
    border-radius: 10px;
    width: 15.2vh;
}
button#ejer2{
    background-color: rgba(0, 0, 0, 0);
    color: rgb(53, 21, 0);
    font-size: 1.5vh;
    border: 2px solid rgb(53, 21, 0);
    border-radius: 10px;
    width: 15.2vh;
}
button#ejer3{
    background-color: rgba(0, 0, 0, 0);
    color: black;
    font-size: 1.5vh;
    border: 2px solid black;
    border-radius: 10px;
    width: 15.2vh;
}
button#ejer4,button#ejer5{
    background-color: rgba(0, 0, 0, 0);
    color: black;
    font-size: 1.5vh;
    border: 2px solid black;
    border-radius: 10px;
    width: 15.2vh;
}
input:focus{
    outline: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}